###
  atom-pytest-terminal
  Copyright by rly
  MIT licensed

  Atom-terminal-panel
  Copyright by isis97
  MIT licensed

  Keybindings for the plugin.
###


'.platform-darwin atom-workspace':
  'shift-enter': 'atom-pytest-terminal:toggle'
  'cmd-shift-t': 'atom-pytest-terminal:new'
  'cmd-shift-j': 'atom-pytest-terminal:next'
  'cmd-shift-k': 'atom-pytest-terminal:prev'
  'cmd-shift-x': 'atom-pytest-terminal:destroy'
  'ctrl-`': 'atom-pytest-terminal:toggle'
  'ctrl-alt-r': 'atom-pytest-terminal:pythontest'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'shift-enter': 'atom-pytest-terminal:toggle'
  'alt-shift-t': 'atom-pytest-terminal:new'
  'alt-shift-j': 'atom-pytest-terminal:next'
  'alt-shift-k': 'atom-pytest-terminal:prev'
  'alt-shift-x': 'atom-pytest-terminal:destroy'
  'ctrl-`': 'atom-pytest-terminal:toggle'
  'ctrl-alt-r': 'atom-pytest-terminal:pythontest'

'.atp-panel':
  'cmd-c': 'native!'
  'ctrl-c': 'native!'
  'ctrl': 'atom-pytest-terminal:toggle-autocompletion'

'.atp-panel-body':
  'escape': 'atom-pytest-terminal:toggle'
